:root {
    --bg-color: rgb(106, 138, 233);
  }
body {
    background-color: var(--bg-color);
    height: 200%;
    overflow-y:auto
}

.centered-search-bar {
   padding: 320px;
   margin: auto;
   height: 35px;
}

#input {
    margin-left: 20px;
}

.center-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y:auto
}

.container {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y:auto
}

.search-button {
    width: 200px;
    height: 40px;
    text-decoration: none;
    margin: 20px 10px;
}

.clear-button {
    width: 200px;
    height: 40px;
    text-decoration: none;
    margin: 20px 10px;
}
.company-outlook { 
    width: 200px;
    height: 45px;
    text-decoration: none;
    margin: 20px 0px;
}
.stock-summary { 
    width: 200px;
    height: 45px;
    text-decoration: none;
    margin: 20px 0px;
}

.card {
    width: 300px;
    margin: 10px 0; 
}

#myTable1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid grey;
    width: 100%;
    height: auto; 
    border-collapse:collapse;
}

#myTable2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid grey;
    width: 100%;
    height: auto;    
    border-collapse:collapse; 
}

.label-column {
    background-color: rgb(210, 210, 210);
    border: 1px solid black;
    font-weight: bold;
} 

.info-column {
    background-color: rgb(234, 232, 232);
    border: 1px solid black;
} 
